#fondo-cabecera{
    background-image: url(../svg/robot_entrada.svg);
    background-size: cover;
}

#formulario-entrada{
    width: 640px;
}

@media (max-width: 1200px) {
    #formulario-entrada, #fondo-cabecera{
        width: 800px;
    }
}

@media (max-width: 640px) {
    #formulario-entrada, #fondo-cabecera{
        width: 100%;
        margin-top: 1rem !important;
    }

    h2{
        font-size: 2.3rem !important;
        text-align: center;
    }

    form{
        padding: 2rem !important;
        margin: 0rem 0.7rem 0.7rem 0.7rem;
    }

    #fondo-cabecera{
        padding: 1rem !important;
    }
}