@import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Inter', sans-serif !important;
}

#hamburguer img{
    width: 32rem !important;
}

input[type=button]{
    cursor: pointer !important;
}

textarea:focus, input:focus{
    outline: none;
}

aside{
    z-index: 20;
}

aside::-webkit-scrollbar{
    width: 0.2rem;
    background: #f1f1f1;
}

aside::-webkit-scrollbar-thumb {
    background: #88888870;
    border-radius: 100rem;
}

@media (min-width: 640px) and (max-width: 1279px){
    .img-btn{
        width: 100% !important;
        padding-top: 2rem !important;
    }
}

@media (max-width: 525px){
    .img-btn{
        width: 100% !important;
        padding-top: 2rem !important;
    }
}

@media (max-width: 282px){
    .img-btn{
        width: 100% !important;
        padding-top: 2rem !important;
    }

    #nuevaIncidencia h2{
        font-size: 1.2rem !important;
        line-height: 1.6rem !important;
    }

    #incidenciasActivas h2{
        font-size: 1.2rem !important;
        line-height: 1.6rem !important;
    }
    
    #educamadridIncidencias h2{
        font-size: 1.2rem !important;
        line-height: 1.6rem !important;
    }
    
    #historialIncidencias h2{
        font-size: 1.2rem !important;
        line-height: 1.6rem !important;
    }

    #nuevaIncidencia,#incidenciasActivas,#educamadridIncidencias,#historialIncidencias{
        padding-left: 1.3rem !important;
    }
}

@media (min-width: 640px) and (max-width: 735px){
    #nuevaIncidencia h2{
        font-size: 1.2rem !important;
        line-height: 1.6rem !important;
    }

    #incidenciasActivas h2{
        font-size: 1.2rem !important;
        line-height: 1.6rem !important;
    }
    
    #educamadridIncidencias h2{
        font-size: 1.2rem !important;
        line-height: 1.6rem !important;
    }
    
    #historialIncidencias h2{
        font-size: 1.2rem !important;
        line-height: 1.6rem !important;
    }

    #nuevaIncidencia,#incidenciasActivas,#educamadridIncidencias,#historialIncidencias{
        padding-left: 1.3rem !important;
    }

    .img-btn{
        display: none !important;
    }
}

