*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 1024px;
    margin: auto;
}

html{
    background-color: #D2F5E7;
}


#hero{
    display: flex;
    color: #2F5A59;
}

h1{

}
